@page "/"
@using Wheels.Domain.Models
@using Wheels.Application.Services 
@using Wheels.UI.Components

@inject PostService PostService
@inject NavigationManager NavManager
<div class="row"> 
    <div class="col-md-8" style="margin: 0 auto">
        @if (_posts.Count > 0)
        {
            foreach (var post in _posts)
            {
                <PostPreview Post="post" />
            }
        }
        
    </div>
   @if (_postsCount > 10)
   {
       <div style="text-align: center">
           <MudPagination
               Size="Size.Small"
               SelectedChanged="GetPosts"
               ShowFirstButton="true"
               ShowLastButton="true"
               Variant="Variant.Filled"
               Count="@(_postsCount / 10)"/>
       </div>
   }
</div>

@code{
    List<Post> _posts = new();
    int _postsCount; 
    protected override async Task OnInitializedAsync()
    {
        _postsCount = PostService.GetPostsCount();
        _posts = await PostService.GetPostsAsync(0);
    }

    async Task GetPosts(int pageNo)
    { 
        _posts = await PostService.GetPostsAsync(pageNo - 1);
        NavManager.NavigateTo("/");
    }

    

}
