@using Wheels.Domain.Models
<link href="css/feed.css" rel="stylesheet"/>

    <MudPaper Square="true" Style="padding: 0 15px ">
        @if (string.IsNullOrEmpty(Comment.Author))
        {
            <a style="font-size: small" >
                Аноним
            </a>
        }
        else
        {
            <a style="font-size: small" >
                @Comment.Author
            </a>
        }
        <p style="font-size: smaller; margin: 0">@Comment.Text</p>
        <span class="time">@Comment.Posted.ToString("D"), @Comment.Posted.ToShortTimeString()</span> 
    </MudPaper> 
@code {
    [Parameter]
    public Comment Comment { get; set; }     
}