@using Wheels.Domain.Models
@using Wheels.Application.Services
@namespace Wheels.UI.Components

@inject PostService PostService

<div>
    <MudPaper Style="padding: 0 25px " Elevation="3">
        <MudText Typo="Typo.h6" Color="Color.Tertiary">Комментарии</MudText>
        @if (_comments.Count > 0)
        {
            foreach (var comment in _comments)
            {
                <CommentItem Comment="comment" />
                
            }
        }
    </MudPaper>    
</div>

@code {
    [Parameter]
    public string PostId { get; set; }
    List<Comment> _comments = new();
    protected override async Task OnInitializedAsync()
    {
        _comments = await PostService.GetCommentsByPostIdAsync(PostId);
    }

}