@namespace Wheels.UI.Components
<div style="margin: 100px auto; width: 50%">
    <h1 style="margin-bottom: 50px">
        Упс... Пост не найден
    </h1>
    <h3 style="margin-bottom: 25px">
        Возможно он был удален или еще не создан.
    </h3>
    <h3>
        Вы можете создать <a href="/newPost">новый пост</a> или прокомментировать один из существующих
    </h3>
</div>

@code {
    
}