@inherits LayoutComponentBase

<PageTitle>Wheels.UI</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page" style="flex-wrap: wrap; margin-bottom: 50px">
    @* <div class="sidebar"> *@
    <NavMenu />
    @* </div> *@

    <main> 

        @* <AuthorizeView> *@
        @*     <Authorized> *@
                 <article class="content px-4" style="margin-left: 10%">
                    @Body
                </article>
        @*     </Authorized> *@
        @* </AuthorizeView> *@
    </main>
</div>
