@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Wheels.UI</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page" style="flex-wrap: wrap; margin-bottom: 50px">
    @* <div class="sidebar"> *@
    <NavMenu />
    @* </div> *@

    <main> 
        <CascadingValue Value="_userName">
            <article class="content px-4" style="margin-left: 10%; padding: 0 !important;">
                @Body
            </article> 
        </CascadingValue>
    </main>
</div>
@code{
    string _userName = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var claims = user.Claims;

        if (user.Identity is {IsAuthenticated: true })
        {
            _userName = user.FindFirst(c => c.Type == "Nickname")?.Value;
        }
    }

}