@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
<link href="css/sidebar.css" rel="stylesheet"/> 
 
<div class="area">
    
</div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="/">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Главная
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="/topRated">
                <i class="fa fa-star fa-2x"></i>
                <span class="nav-text">
                    Лучшие
                </span>
            </a>
            
        </li>
         <li class="has-subnav">
             <a href="/addSurvey">
                 <i class="fa fa-file"></i>
                 <span class="nav-text">
                     Новый опрос
                 </span>
             </a>
             
         </li>
    </ul>

    <ul class="logout"> 
            <AuthorizeView>
                <Authorized>
                    <li>
                        <a href="/manageAccount">
                           <i class="fa fa-user"></i>
                           <span class="nav-text">
                               @_userName
                           </span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">
                                Выход
                            </span>
                        </a>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li>
                        <a href="/register">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="nav-text">
                                Регистрация
                            </span>
                        </a>
                    </li>
                    <li>
                         <a href="/login">
                           <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <span class="nav-text">
                                Вход
                            </span>
                        </a>
                    </li> 
                </NotAuthorized>
            </AuthorizeView> 
        
    </ul>
</nav>
 
@code {
    private bool _collapseNavMenu = true; 
    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    string? _userName = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var claims = user.Claims;

        if (user.Identity is {IsAuthenticated: true })
        {
            _userName = user.FindFirst(c => c.Type == "Nickname")?.Value;
        }
    }

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}