@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Wheels.UI.Data 

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager

<link href="css/sidebar.css" rel="stylesheet"/> 
 
<div class="area">
    
</div>
<nav class="main-menu">
    <ul>
        <li>
            <a href="/">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Главная
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="/topRated">
                <i class="fa fa-star fa-2x"></i>
                <span class="nav-text">
                    Лучшие
                </span>
            </a>
            
        </li>
         @* <li class="has-subnav"> *@
         @*     <a href="/addSurvey"> *@
         @*         <i class="fa fa-file"></i> *@
         @*         <span class="nav-text"> *@
         @*             Новый опрос *@
         @*         </span> *@
         @*     </a> *@
         @*      *@
         @* </li> *@
    </ul>

    <ul class="logout"> 
            <AuthorizeView>
                <Authorized>
                    <li>
                        <a href="/manageAccount">
                           <i class="fa fa-user"></i>
                           <span class="nav-text">
                               @_userName
                           </span>
                        </a>
                    </li>
                    <li>
                        <MudLink style="color: #F8F8FF !important; cursor: pointer; text-decoration: none" @onclick="() => SignOut()">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">
                                Выход
                            </span>
                        </MudLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li>
                        <a href="/register">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="nav-text">
                                Регистрация
                            </span>
                        </a>
                    </li>
                    <li>
                         <a href="/login">
                           <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <span class="nav-text">
                                Вход
                            </span>
                        </a>
                    </li> 
                </NotAuthorized>
            </AuthorizeView> 
        
    </ul>
</nav>
 <MudMessageBox @ref="mbox"  CancelText="Cancel">
     <TitleContent>
         <MudText Typo="Typo.h6" Style="color: red">Внимание</MudText>
     </TitleContent>
     <MessageContent>
         <p style="font-size: smaller">Вы действительно хотите выйти?</p>
     </MessageContent>
     <YesButton>
         <MudButton Style="font-size: x-small; color: red" Size="Size.Small" Variant="Variant.Text">
             выйти
         </MudButton>
     </YesButton>
     <CancelButton>
         <MudButton Style="font-size: x-small"  Size="Size.Small" Variant="Variant.Text" >Отмена</MudButton>
     </CancelButton>
 </MudMessageBox>
@code {
    MudMessageBox mbox { get; set; }
    private bool _collapseNavMenu = true; 
    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    string? _userName = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var claims = user.Claims;

        if (user.Identity is {IsAuthenticated: true })
        {
            _userName = user.FindFirst(c => c.Type == "Nickname")?.Value;
        }
    }

    async Task SignOut()
    {
        var result = await mbox.Show();
        if (result == true)
        {
            NavManager.NavigateTo("/logout", true);
        }
    }
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}